* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainGold: #FFD700;
  --darkGold: #bf9456;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
/* globals */
body {
  /* padding-top: 66px!important; */
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.btn-primary {
  display: inline-block!important;
  text-decoration: none!important;
  letter-spacing: var(--mainSpacing)!important;
  color: var(--mainBlack)!important;
  background: var(--primaryColor)!important;
  padding: 0.4rem 0.9rem!important;
  border: 3px solid var(--primaryColor)!important;
  transition: var(--mainTransition)!important;
  text-transform: uppercase!important;
  cursor: pointer!important;
}
.btn-primary:hover {
  background: transparent!important;
  color: var(--primaryColor)!important;
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}
.white{
  /* background-color:url(../src/images/lucia-images/bg-tunnel.jpg); */
background: url("../src/images/lucia-images/bg-tunnel.jpg") center/cover no-repeat rgba(255, 255, 255, 0.3); 
  /* opacity: 0.5; */
  /* filter: alpha(opacity=50); */
}
.text-gold{
  color: var(--darkGold);
}
.text-lt-gold{
  color: var(--mainGold);
}

.box {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  /* min-height: 200px;
  width: 50vw;
  margin: 100px auto;
  background: white;
  border-radius: 5px; */
}
/* end of globals */
/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: var(--offWhite);
  z-index: 1;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--primaryColor);
}

.show-nav {
  height: 210px;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 4.5rem 0 0 0;
  }
}
/* end of navbar */
/* Hero */
.defaultHero,
.roomsHero {
  min-height: calc(80vh - 66px);
  background: url("./images/lucia-images/DefaultBcg.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.roomsHero {
  min-height: calc(100vh - 66px);
  background-image: url("./images/lucia-images/stock-cabins-full.jpg");
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resturantHero {
  min-height: calc(60vh - 66px);
  background: url("./images/lucia-images/resturant.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* End of Hero */
/* Banner */
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.banner h1 {
  font-size: 2.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
/* End of Banner */
/* Title */
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}
/* end of Title */

/* services */
.services {
  padding: 5rem 0;
  
}
.services {
  background: var(--darkGrey);
  text-align: center;
  
}
.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
  
  
}

.services article{
  border: 3px groove #af9a7d;
  border-radius: 31px 0px 31px 0px;
  padding: 10px;
  overflow: hidden;

}

.service span {
  display: inline-block;
  color: var(--primaryColor);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  
}
.services h6 {
  letter-spacing: var(--mainSpacing);
}
.services p {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .services-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .services p {
    width: 100%;
  }
}
/*end of services */
/* featured rooms */

.featured-rooms {
  padding: 5rem 0;
  
}
.featured-rooms-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
@media screen and (min-width: 776px) {
  .featured-rooms-center {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .featured-rooms-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end pf featured rooms */
/* room */
.room {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  background: var(--darkGrey);

}
.room:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
  
}
.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
  max-width: 100%;
  height: 200px;
}
.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: var(--mainTransition);
}
.price-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}
.room-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .price-top {
  opacity: 0;
}
.img-container:hover .room-link {
  transform: translate(-50%, -50%) scale(1);
}
.room-info {
  background: var(--darkGrey);
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);

}
/* end of room  */
/* single room*/

.single-room {
  padding: 5rem 0 0 0;
}
.single-room-images {
  width: 80vw;
  margin: 0 auto;
  padding: 0 2px ;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.single-room-images img {
  max-width: 90%;
  width: 25wh;
  height: 25vh;
  display: block;
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.single-room-info {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
}
.desc,
.info {
  margin: 1rem 0;
}
.desc h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.desc p {
  line-height: 1.5;
}
.info h3,
.info h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.info h6 {
  font-weight: 300;
}
.info a{
display: inline-block;
  text-decoration: none;
  /* letter-spacing: var(--mainSpacing); */
  /* color: var(--mainBlack); */
  /* background: var(--primaryColor); */
  /* padding: 0.4rem 0.9rem; */
  /* border: 3px solid var(--primaryColor); */
  /* transition: var(--mainTransition); */
  /* text-transform: uppercase; */
  cursor: pointer;
  float: right;
}

.room-extras {
  width: 80vw;
  margin: 0 auto 3rem auto;
}
.room-extras h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}
@media screen and (min-width: 992px) {
  .single-room-images,
  .single-room-info,
  .room-extras {
    width: 95vw;
    max-width: 1170px;
  }
  .single-room-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
  .info {
    padding-left: 3rem;
  }
}
/* end of single room*/
/* single room carousel */
.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}


.slides {
  position: relative;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index:1;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
}
/* end of single room carousel */
/* roomlist */
.roomslist {
  padding: 5rem 0;
}
.roomslist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

@media screen and (min-width: 776px) {
  .roomslist-center {
    width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  .roomslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of roomlist */
/*  rooms fitler*/
.filter-container {
  padding: 5rem 0;
}
.filter-form {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
.form-group {
  text-transform: capitalize;
}
.form-group label {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
}
.form-control {
  width: 100%;
  background: transparent;
  font-size: 1rem;
}
.size-inputs {
  display: flex;
}
.size-input {
  width: 40%;
  padding: 0.2rem;
  border: 1px solid var(--mainBlack);
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}
.single-extra label {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
@media screen and (min-width: 776px) {
  .filter-form {
    width: 70vw;
  }
}
@media screen and (min-width: 992px) {
  .filter-form {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of rooms fitler*/

/*SECTION  resturant */

/* lunch OG*/
.menu{
  display: table-cell;
  background-color: #af9a7d;
  padding-top: 5px;
  border-radius: 2%;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  /* box-shadow: inset 0 0 5px 5px goldenrod; */
}
.price-wrap{
  /* position: relative; */
    /* display: inline-block; */
    vertical-align: top;
    padding: 0px;
    margin: 0 0 20px;
}
.price-header{
      position: relative;
    margin: 0 0 3px;
}
.price-price{
      display: table-cell;
    width: 1%;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'PT Serif', serif;
}
.price-dots {
    display: table-cell;
    width: 50%;
}

.separator-dots {
    display: block;
    width: 100%;
    border-bottom: 1px dashed #333;
}
.drinks ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
.drinks li{
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.img-border{
    padding: 4px;
    border: 2px solid #af9a7d;
    margin: auto;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    
}

/* end of lunch*/

/* New Lunch */
.lunch {
overflow: visable;
}

.lunch-bg{
    background-image: url(./images/lucia-images/lunch.jpg);
    background-size: contain;
    height: 600px;
    /* background-position: 50% 64.95px; */
}
/* SPACE BETWEEN LUNCH/DINNER */
.space{
  margin: 55vh;
    }
@media only screen and (max-width: 600px) {
  .space{
  margin: 160vh;
}
}
@media screen and (min-width: 600px) {
.space{
  margin: 120vh;
}
}
@media only screen and (min-width: 768px) {
.space{
  margin: 130vh;
}
} 
@media only screen and (min-width: 992px) {
.space{
  margin: 55vh;
}
}
@media only screen and (min-width: 1200px) {
.space{
  margin: 55vh;
}
}
    
/* End of New Lunch */

/* Dinner */
.dinner {
  /* color: var(--mainBlack); */
overflow: visable;
}
.bg-grey{
background-color: rgba(0, 0, 0, 1.0);
color: var(--mainGrey);
}
.dinner-bg{
    background-image: url(./images/lucia-images/dinner.jpg);
    background-size: contain;
    height: 600px;
    /* background-position: 50% 64.95px; */
}

.parallax {
    background-color: transparent;
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    /* overflow: hidden; */
}
.over-flow{
    /* overflow: visible; */
    /* margin-top: -500px; */
z-index: 2;
}
/* end of dinner*/

/* Alcohol */
.alc-container{
  width: 98%;
  height: 800px;
  margin: 0 auto;
  position: relative;
  text-align: justify;
}

.center-image{
  clip-path: circle(50%);
  width: 580px;
  height: 580px;
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.85);
}
.center-image div{
  width: 580px;
  height: 580px;
  object-fit: cover;
}
.left{
  width: 48%;
  float: left;
}
.left:before,
.right:before{
  content: "";
  width: 250px;
  height: 707px;
}
.left:before{
  float:right;
  shape-outside: polygon(1.57% 59.5%, 7.91% 43.88%, 24.42% 34.55%, 53.81% 25.42%, 99.38% 21.05%, 100.07% 93.04%, 55.84% 88.35%, 17.85% 77.33%);
}
.right{
  width: 48%;
  float: right;
}

.right::before{
  float: left;
  shape-outside: polygon(98.87% 55.77%, 89.98% 40.49%, 73.42% 34.55%, 53.81% 25.42%, 99.38% 21.05%, 100.07% 93.04%, 55.84% 88.35%, 17.85% 77.33%);
}

/* .circle{
  background: url(./images/lucia-images/wine.jpg);
  width: 600px;
  height: 600px;
  border-radius: 50%;
  shape-outside: circle();
  margin: 60px 30px 30px 0px ;
} */
/* end of Alcohol*/

/* end of resturant*/

/* credits */
.credits{
  margin: 0 auto;
   text-align: center;
   padding: 2vh;
   background-color: #f7f7f7;
   bottom: 0%;
  /* position: absolute; */
  /* bottom: 0;
  width: 100%;
  height: 2.5rem; */

  }
/* end of credits */

/* Gallery */
.gallery-wrapper{
  /* min-height: calc(80vh - 66px); */
  width: 100%;
  /* height: 100vh;  */
  display: flex;
  align-items: center;
}

.gallery{
  display: grid;
  grid-template-columns: repeat(8, minmax(20px, 1fr));
  grid-template-rows: repeat(4, 20vh);
  grid-gap: 2px;
  background-color: var(--darkGrey);
  padding: 4px;
}
.gallery-info{
  background-color: var(--mainBlack);
  grid-column: 10 / 10;
  grid-row: 1 / 2;
  opacity: 1;
  align-items: right;
}
.gallery-info div{
  border: var(--darkGold) 2px solid;
  margin: 0 5px 0 5px;
}
.gallery-info p{
  text-indent: 50px;

}

.gallery img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .8;
  transition: opacity 0.5s;
}
.gallery img:hover{
opacity: 1;
}
.img-1{
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.img-2{
  grid-column: 3 / 6;
  grid-row: 1 / 3;
}
.img-3{
  grid-column: 6 / 7;
  grid-row: 1 / 2;
}
.img-4{
  grid-column: 7 / 9;
  grid-row: 1 / 3;
}
.img-5{
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}
.img-6{
  grid-column: 3 / 5;
  grid-row: 3 / 4;
}
.img-7{
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
.img-8{
  grid-column: 5 / 6;
  grid-row: 3 / 5;
}
.img-9{
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}
.img-10{
  grid-column: 3 / 5;
  grid-row: 4 / 5;
}
.img-11{
  grid-column: 6 / 7;
  grid-row: 3 / 5;
}
.img-12{
  grid-column: 7 / 9;
  grid-row: 3 / 5;
}
/* End of Gallery */